server:
  servlet:
    encoding:
      charset: utf-8
      force: true
  port: 8080
spring:
  datasource:
    url: ${DATABASE_URL}?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: root
  redis:
    host: redis-service
    port: 6379
    timeout: 3000
  jpa:
    hibernate:
      ddl-auto: update # (commented out) When set to 'create', the database schema is created every time the application starts.
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      default_batch_fetch_size: 100
      open-in-view: false
  h2:
    console:
      enabled: true
  sql:
    init:
      data-locations: classpath:db/teardown.sql
      # (commented out) Sets the SQL file execution mode. When set to 'always', the SQL file is executed every time the application starts.
      # mode: always

#redis:
#  cache:
#    ttl:
#      viewCnt: 600000
#      popularPost: 3600000

schedules:
  fixedDelay: 600000
  initialDelay: 600000
  popularPost:
    fixedDelay: 36000000
    initialDelay: 0

common:
  frontend-server: localhost:3000

oauth2:
  kakao:
    client-id: b51d037debb98e9ae02735887894b407
    redirect-uri: ${common.frontend-server}/kakao/callback
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me


  instagram:
    client-id: 2456565514525348
    client-secret: 640ed809676cf7480c2a28b1995f498d
    redirect-uri: ${common.frontend-server}/instagram/callback
    token-url: https://api.instagram.com/oauth/access_token
    user-info-url: https://graph.instagram.com/me?fields=id,username


# (commented out) Header name and secret key for JWT authentication
jwt:
  header: Authorization
  secret: 4oCYbGVhLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtbmZ0LXNwcmluZy1ib290LWp3dC10dXRvcmlhbOKAmQo=
  token-validity-in-seconds-accessToken: 86400
  token-validity-in-seconds-refreshToken: 86400

# Configuration related to matching strategy, required for SpringBoot 2.6 and springfox-swagger3.0
spring.mvc.pathmatch.matching-strategy: ant_path_matcher
